@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-violet-50: oklch(97% 0.05 285);
  --color-violet-100: oklch(94% 0.08 285);
  --color-violet-200: oklch(88% 0.12 285);
  --color-violet-300: oklch(80% 0.16 285);
  --color-violet-400: oklch(72% 0.20 285);
  --color-violet-500: oklch(65% 0.24 285);
  --color-violet-600: oklch(55% 0.22 285);
  --color-violet-700: oklch(45% 0.18 285);
  --color-violet-800: oklch(35% 0.14 285);
  --color-violet-900: oklch(25% 0.10 285);
}

.dark {
  --ui-primary: var(--ui-color-primary-500);
}
